<div class="navbar-fixed">
<nav class="brown pink-text text-lighten-2 z-depth-0">
    <ul id="slide-out" class="side-nav">
        <li><a href="{{ site.baseurl }}/" class="pink-text text-lighten-2">Home</a></li>
        {% for page in site.pages %}
            {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="pink-text text-lighten-2">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="pink-text text-lighten-2">Feed</a></li>
    </ul>
    <div class="container container-large">
    <a class="brand-logo center" href="{{ site.baseurl }}/" class="pink-text text-lighten-2"><span class="light pink-text text-lighten-2">{{ site.logo }}</span></a>
    <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
            {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" class="pink-text text-lighten-2">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse right pink-text text-lighten-2"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>
